EMBEDDING_PROVIDER=ubc-genai-toolkit-llm
EMBEDDINGS_PROVIDER=ubc-genai-toolkit-llm
LLM_PROVIDER=openai
OPENAI_MODEL=gpt-4.1-mini
LLM_DEFAULT_MODEL=gpt-4.1-mini
EMBEDDINGS_MODEL=text-embedding-3-small
OPENAI_API_KEY=insert-key-here
LLM_API_KEY=insert-key-here
EMBEDDINGS_API_KEY=insert-key-here

# # --- Embeddings Provider Configuration ---
# # This specifies that we're using the LLM toolkit as the provider for embeddings
# EMBEDDING_PROVIDER=ubc-genai-toolkit-llm
# EMBEDDINGS_ENDPOINT=http://localhost:11434
# EMBEDDINGS_MODEL=nomic-embed-text

# # --- LLM Provider Settings (for Embeddings) ---
# # We are using Ollama to serve the embedding model
# LLM_PROVIDER=ollama
# # The API key is not required for a local Ollama instance, but the field is expected
# LLM_API_KEY=nokey
# # The default local endpoint for the Ollama server
# LLM_ENDPOINT=http://localhost:11434
# # The specific model to use for generating embeddings
# LLM_EMBEDDING_MODEL=nomic-embed-text
# # A default model name is required by the LLM module for initialization.
# LLM_DEFAULT_MODEL=llama3.1:8b

# --- MongoDB Database Configuration ---
MONGO_AUTH_SOURCE=admin
MONGO_USERNAME=mongoadmin
MONGO_PASSWORD=secret
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=engeai_staging

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=super-secret-dev-key
QDRANT_COLLECTION_NAME=engeai_staging
QDRANT_VECTOR_SIZE=1536

#SAML_CERT_PATH=/var/www/server.crt
#Shibboleth Config
SAML_ENVIRONMENT=LOCAL
SAML_ISSUER=http://localhost:8020
SAML_CALLBACK_URL=http://localhost:8020/auth/saml/callback
SAML_PRIVATE_KEY_PATH=/Insert/Path/To/cert/server.pem
SAML_CERT_PATH=/Insert/Path/To/cert/server.crt
SAML_ENTRY_POINT=http://localhost:8080/simplesaml/saml2/idp/SSOService.php
SAML_LOGOUT_URL=http://localhost:8080/simplesaml/saml2/idp/SingleLogoutService.php
SAML_METADATA_URL=http://localhost:8080/simplesaml/saml2/idp/metadata.php

SAML_AVAILABLE=true
FAKE_STUDENT_PASSWORD=xxxxxxx
FAKE_INSTRUCTOR_PASSWORD=xxxxxxx
NODE_ENV=development

DEVELOPING_MODE=false
DEBUG=false

RAG_CHUNK_SIZE=1200
RAG_OVERLAP_SIZE=200
RAG_CHUNKING_STRATEGY=recursiveCharacter
RAG_MIN_CHUNK_SIZE=200

ADMINS=Kathleen Tom,Example Admin