:root {
    --sidebar-bg: #f7f7f7;
    --chat-bg: #fcfcfc;
    --border-color: #b8b8b8;
    --hover-bg: #efefef;
    --text-primary: #333333;
    --text-secondary: #6c757d;
    --gingham-color: rgba(92, 138, 58, 0.1); /* Based on --color-chbe-green */
    --user-message-bg: var(--color-ubc-blue);
    --bot-message-bg: #f1f1f1;
    --pinned-color: var(--color-chbe-green);
    --background-2: #ECE5DD;
    --footer-height: 110px;
}

html, body {
    overflow: hidden;
}

body {
    background-color: var(--chat-bg);
}

.main-dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    opacity: 1;
    background-color: var(--chat-bg);
}

.instructor-sidebar {
    width: 270px;
    flex: 0 0 270px;
    min-width: 270px;
    margin: 10px 5px 10px 10px;
    padding: 0.75rem;
    background-color: var(--background-2);
    display: flex;
    flex-direction: column;
    animation: slideLeft 0.6s forwards;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    transition: width 0.25s, padding 0.25s;
    height: calc(100vh - 20px) /* account for the margin */;
}

.sidebar-main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.instructor-sidebar.collapsed {
    width: 56px;
    padding: 0.5rem;
}

.instructor-sidebar .logo-box {
    background-color: var(--color-chbe-green);
    color: white;
    padding: 0.75rem;
    height: 56px;
    border-radius: 8px;
    gap: 0.75rem;
    display: flex;
    align-items: center;

}

.logo-box .logo-text {
    display: flex;
    flex-direction: column;
}

.logo-box.collapsed .logo-text{
    display: none;
}

.logo-box.collapsed .feather {
    width: 16px;
    height: 16px;;
}

.logo-text span {
    font-weight: 900;
    font-size: 1.1rem;
}

.logo-text p {
    font-size: 0.75rem;
    opacity: 0.8;
    margin: 0;
}

.instructor-sidebar .sidebar-collapse-icon {
    background-color: transparent;
    margin:10px 0px 0px 10px ;
    color: var(--text-secondary) ;
    cursor: pointer;
    border: none;
}

.instructor-sidebar.collapsed .sidebar-collapse-icon{
    margin:10px 0px 0px 5px ;
}

.sidebar-collapse-icon .feather {
    width: 16px;
    height: 16px;

}

.empty-footer {
    width: 100%;
    height: var(--footer-height);
    max-height: var(--footer-height);
    border-radius: 10px;
    background-color: var(--color-chbe-green);
    margin-top: 0.75rem;
    flex-shrink: 0;
}

.sidebar-content {
    border-top: 1px solid var(--border-color);
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
}


.sidebar-menu-list ul{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 38px;
}


.sidebar-menu-list .menu-list-item {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 0.8rem;
    background-color: transparent;
    align-items: center;
    padding: 0px 0px 0px 15px;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
}

.sidebar-menu-list .menu-list-item .feather {
    width: 20px;
    height: 20px;
}



.sidebar-menu-list .menu-list-item:not(.active):hover {
    background-color: var(--hover-bg);
}

.sidebar-menu-list.collapsed .menu-list-item {
    padding: 0px 0px 0px 0px;
    justify-content: center;
}
.sidebar-menu-list.collapsed .menu-list-item p {display: none;}

.sidebar-content .chat-menu {
    flex: 1;
    background-color: var(--color-chbe-green);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    margin: 0px 0px 0px 5px;
    width: calc(100% - 38px);

    display:flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;

}

.sidebar-content .chat-menu .add-chat-box {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid var(--border-color);
    flex-shrink: 0;
}

.add-chat-box .add-chat-btn {
    flex-direction: 1;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--border-color);
    cursor: pointer;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.add-chat-box .add-chat-btn p {
    margin: 0;
    padding: 0;
}

.add-chat-box .add-chat-btn:hover {
    background-color: var(--background-2);
    color: var(--text-primary);
    font-size: 0.9rem;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, font-size 0.3s ease-in-out ;
    
}

.chat-list-ul {
    background-color: var(--background-2);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    min-height: 0;
    overflow-y: auto;
}


.chat-list-ul li {
    margin: 0;
    padding: 5px 0px 5px 5px;
    font-size: 0.9rem;
    font-weight: 500;
    overflow-x:hidden;
    border-radius: 5px;
    width: calc(100% - 10px);
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-list-ul li:hover{
    background-color: var(--hover-bg);
    transition: background-color 0.1s ease-in-out;
    outline: 1px solid var(--border-color);
}

#main-content-area {
    flex-grow: 1;
}





