
<div class="onboarding">
    <div class="title-onboarding">
        <h1>Welcome to EngE-AI on boarding</h1>
    </div>
    <div class="steps-onboarding">
        <h1>Please input these following steps</h1>
        <div class="input-item" id="class-name">
            <h2>Class name</h2>
            <input type="text" id="class-name-input">
        </div>
        <div class="input-item" id="instructor-name">
            <h2>Instructor names</h2>
            <input type="text" id="instructor-name-input">
        </div>
        <div class="input-item" id="teaching-assistant-name">
            <h2>Teaching Assistant names</h2>
            <input type="text" id="teaching-assistant-name-input">
        </div>
        <div class="manage-options" id="manage-options">
            <select name="manage-select" id="manage-select">
                <option value="perweek">perweek</option>
                <option value="per-chapters">perchapters</option>
            </select>
        </div>
        <div class="input-item" id="tiles-number">
            <h2>How many weeks / chapters you plan</h2>
            <input type="text" id="tiles-number-input">
        </div>
    </div>
</div>